body {
	background-color: #C5F4E0;
}

* {
	font-family: Calibri, sans-serif;
	color: #8F8389;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #E6EFE9;
	display: block;
	border: 1px solid #8F8389;
	text-align: center;
}

#menu ul li{
	display: inline-block;
	border-right: 1px solid #8F8389;
	border-left: none;
	padding: 5px 5px;
}

#menu ul li:hover {
	background-color: #A7C4A0;
}

#menu ul li:first-child {
	border-left: 1px solid #8F8389;
}

#menu ul li a{
	text-decoration: none;
}

#menu ul li a:hover {
	color: #E6EFE9;
	cursor: default;
}